body {
  background-color: #ee7a32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca682b' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
.navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: text-top;

}
.card {
  margin-bottom: 20px;
}

#left-side {
}
#cardBody > .container  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.card {
  width: 18rem;
}
img.card-img-top {
  height: 180px;
}
div#footer {
  margin: auto;
  width: 80%;
}
p#copyright {
  margin-left: 15px;
  font-size: .7rem;
}

div#header-img {
  height: 515px;
  max-width: 768px;
  background-image: url("https://canvas.uw.edu/courses/1231555/files/51695602/preview");
}
div.max-width {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}
